<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h2>You are about to edit this listing </h2>
                <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
                    <div class="mb-3">
                        <lable for="title" class="form-label">Title</lable>
                        <input type="text" class="form-control" name="listing[title]" id=""
                            value="<%= listing.title %>">

                    </div>
                    <div class="mb-3">
                        <lable for="description" class="form-label">Description</lable>
                        <textarea class="form-control" name="listing[description]"><%=listing.description %> </textarea>
                    </div>
                    <div class="mb-3">
                        <lable for="image" class="form-label">Image URL</lable>
                        <input class="form-control" type="text" name="listing[image][url]" id=""
                            value="<%= listing.image.url %>">

                    </div>
                    <div class="row">
                        <div class="mb-3 col-4">
                            <lable for="price" class="form-label">Price</lable>
                            <input type="number" class="form-control" name="listing[price]" id=""
                                value="<%= listing.price %>">
                        </div>
                        <div class="mb-3 col-md-8">
                            <lable for="country" class="form-label">Country</lable>
                            <input type="text" class="form-control" name="listing[country]" id=""
                                value="<%= listing.country %>">
                        </div>
                    </div>

                    <div class="mb-3">
                        <lable for="location" class="form-label">Location</lable>
                        <input class="form-control" type="text" name="listing[location]" id=""
                            value="<%= listing.location %>">
                    </div>

                    <button class="btn btn-dark edit-btn mt-3" type="submit">edit </button><br><br>
                </form>
            </div>

        </div>

    </body>